<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <div id="errorDialog" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{SIF.type}} - {{SIF.errorCode}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{SIF.errorMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button id="errorDismiss" type="button" tabindex="-1" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
